name: CI/CD Pipeline

on:
  push:
    workflow_dispatch: 
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v3

      - name: Conectarse al servidor remoto
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SHH_HOST }}
          username: ${{ secrets.SHH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/micausa/LUCIENNE/lucienne
            ./build.sh
            ./deploy.sh

